    @font-face {
      font-family: 'Menlo Regular';
      font-style: normal;
      font-weight: normal;
      src: local('Menlo Regular'), url('./Menlo-Regular.woff') format('woff');
    }

    :root {
      /*Palette*/
      --coloring: #000000;
      --prim-clr: ;
      --sec-clr: ;
      --tertiary-clr: ;
      --bg-clr: ;
      /*Fonts*/
      --ff-accent: 'Outfit', sans-serif;
      --ff-regular: 'Montserrat', sans-serif;
    }

    /*
  1. Use a more-intuitive box-sizing model.
*/
    *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
    }

    /*
  2. Remove default margin
*/
    * {
      margin: 0;
    }

    /*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      justify-content: center;
      font-family: var(--ff-accent);

      user-select: none;
    }

    /*
  5. Improve media defaults
*/
    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    /*
  6. Remove built-in form typography styles
*/
    input,
    button,
    textarea,
    select {
      font: inherit;
      border: none;
    }

    /*
  7. Avoid text overflows
*/
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

    .container {
      border: 3px solid rgb(141, 96, 96);
      margin: 1rem 0.2rem 0.2rem 0.2rem;
      flex-shrink: 0;
    }

    .intro {
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      text-align: center;
    }

    #canvas {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      flex-shrink: 0;
    }

    .tips {
      display: flex;
      justify-content: space-between;
      align-items: center;


      margin: 0.5rem 0 0.5rem;
      color: black;
      font-weight: 600;
      line-height: 2;
      border-bottom: 7px black solid;
      border-top: 1px black solid;
      border-left: 3px black solid;
      border-right: 2.5px black solid;
      padding: 0.7rem;
      border-radius: 1.1rem;
      background-color: #e7e7e7;
      -webkit-border-radius: 1.1rem;
      -moz-border-radius: 1.1rem;
      -ms-border-radius: 1.1rem;
      -o-border-radius: 1.1rem;
    }

    .pixel {
      outline: 1px solid rgb(0, 0, 255, 0.05);
      background-color: white;
      margin: 0;
      position: relative;
    }

    .cleared {
      background-color: white;
    }

    .colored {
      background-color: var(--coloring);
    }


    .radio {
      background: #454857;
      padding: 4px;
      border-radius: 3px;
      box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
        0 0 0 3px rgba(185, 185, 185, 0.3);
      position: relative;
    }

    .radio input {
      width: auto;
      height: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;
      border-radius: 2px;
      padding: 4px 8px;
      background: #454857;
      color: #bdbdbdbd;
      font-size: 14px;

      transition: all 100ms linear;
    }

    .radio input:checked {
      background-image: linear-gradient(180deg, #95d891, #74bbad);
      color: #fff;
      box-shadow: 0 1px 1px #0000002e;
      text-shadow: 0 1px 0px #79485f7a;
    }

    .radio input:before {
      content: attr(label);
      display: inline-block;
      text-align: center;
      width: 100%;
    }


    .radio-button-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
      margin: 2em 2rem 1rem 1rem;
      justify-content: center;
    }

    .radio-button {
      display: inline-block;
      position: relative;
      cursor: pointer;

    }

    .radio-button__input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

    }

    .radio-button__label {
      display: inline-block;
      padding-left: 30px;
      margin-bottom: 10px;
      position: relative;
      font-size: 15px;
      color: #f2f2f2;
      font-weight: 600;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.3s ease;
    }

    .radio-button__custom {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #555;
      transition: all 0.3s ease;
    }

    .radio-button__input:checked+.radio-button__label .radio-button__custom {
      background-color: #4c8bf5;
      border-color: transparent;
      transform: scale(0.8);
      box-shadow: 0 0 3px #4c8bf580;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }

    .radio-button__input:checked+.radio-button__label {
      color: #4c8bf5;
    }

    .radio-button__label:hover .radio-button__custom {
      border-color: #4c8bf5;
      box-shadow: 0 0 5px #4c8bf580;

    }

    .welcome-screen {
      background-image: url(./bg-img-splash.jpg);
      height: 100vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 200;
      background-color: black;
      opacity: 1;

      width: 100%;
    }

    @keyframes fade-out {

      0% {
        opacity: 1;

      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 0;
        scale: 2;
      }
    }

    .faded-out {
      animation: fade-out 500ms ease-in-out forwards;
      -webkit-animation: fade-out 500ms ease-in-out forwards;
    }


    .loader-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 201;
      background-color: #222f38;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .loading-text {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
      color: #eee;
      padding-top: 1rem;
      padding-left: 0.4rem;
    }

    .loader {
      user-select: none;
      position: relative;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: end;
    }

    .loader img {
      width: 85%;
      flex-shrink: 0;
      height: auto;
    }

    .loader:before,
    .loader:after {
      content: '';
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      inset: 0;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;

    }

    .loader:after {
      box-shadow: 0 2px 0 #2196F3 inset;
      animation: rotate 2s linear infinite;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0)
      }

      100% {
        transform: rotate(360deg)
      }
    }

    .animated-button {
      position: relative;
      display: inline-block;
      padding: 12px 24px;
      border: none;
      font-size: 16px;
      background-color: white;
      border-radius: 100px;
      font-weight: 600;
      color: #383838;
      box-shadow: 0 0 0 2px #ffffff20;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .animated-button span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: #2196F3;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .animated-button span:first-child {
      position: relative;
      z-index: 1;
    }

    .animated-button:hover {
      box-shadow: 0 0 0 5px #2195f360;
      color: black;
    }

    .animated-button:active {
      scale: 0.95;
    }

    .animated-button:hover span:last-child {
      width: 150px;
      height: 150px;
      opacity: 1;
    }

    @keyframes loader-inner {
      0% {
        height: 0%;
      }

      25% {
        height: 0%;
      }

      50% {
        height: 100%;
      }

      75% {
        height: 100%;
      }

      100% {
        height: 0%;
      }
    }

    .main-container {
      display: flex;
      flex-grow: 1;
      background-image: url(./bg-img.jpg);
      background-size: cover;
      justify-content: center;
      align-items: center;
      border-bottom: whitesmoke solid 1px;
      width: 100%;
      gap: 1rem;
      flex-wrap: wrap;
      overflow-y: hidden;
    }

    .controls {
      flex-shrink: 0;
    }

    footer a {
      color: #eee;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      overflow: visible;
    }

    footer a:hover {
      color: #4c8bf5;
    }

    footer {
      gap: 1rem;
      padding: 2rem 0;
      font-weight: 200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 1rem;
      background-color: #162E3B;
      color: #eee;
      display: flex;
      text-align: center;
      padding: 2rem 3rem;
      margin-top: auto;
    }



    i {
      display: inline-block;
      margin-right: 4px;
      margin-left: 2px;
    }

    .zorar {
      background-color: #e7e7e7;
      cursor: pointer;
    }

    .mid {
      justify-content: center;
    }